@import '../harmonium-settings/color-palette';
@import '../harmonium-settings/harmonium-settings';
@import '~harmonium/scss/app';


.root{
  height: 100vh;
}
.container{
  margin: 25vh 0;
}

.rev-Callout{
  position: absolute;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: dissapear 2s ease-in
}

@keyframes dissapear {
  from {opacity: 1;}
  to {opacity : 0;}
}

.noMargin{
  margin: 0 !important
}

.noPadding{
  padding: 0 !important
}